//@import '../node_modules/bootstrap/less/bootstrap';


@width: 98%;

* {
  margin:0; padding:0;
}

body {
  background:#efefef;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

div#app {
  width:@width;
  margin: 0 auto;
}



header {
  position: fixed;
  top:0;
  width: @width;
  height: 5em;
  border:1px solid;
  border-width: .08em;
  box-shadow: -.5em .5em .5em -.5em;
  background: #FFFFFF;
  border-radius: .4em;
  h1 {
    width: 3em;
    float: left;
    margin: .5em;
    border: .04em solid;
  }
  nav.menu {
    margin:.8em 0;
    border: .08em solid;
    float: left;
    ul {
      display: inline-block;
    }
    li {
      position:relative;
      float: left;
      margin: .7em;

      &:nth-child(1) > a {
        display: block;
        background: #337ab7;
      }
      &:nth-child(2) > a {
        display: block;
        background: #fff000;
      }
      &:nth-child(3) > a {
        display: block;
        background: #000fff;
      }
    }

  }
  section.login {
    float: right;
    margin: .8em;
    li {
      position:relative;
      float: left;
      margin: .8em;

      &:nth-child(1) > a {
        display: block;
        background: #337ab7;
      }
      &:nth-child(2) > a {
        display: block;
        background: #fff000;
      }
    }
  }
}

footer {
  overflow: hidden;
  border-width: .08em;
  box-shadow: 0 .1em .1em -.05em;
  background: #FFFFFF;
  border-radius: 0 .4em;
  font-size:.9em;
  div {
    margin: 1.5em;
    float: left;
  }
  nav{
    margin: 1.5em;
    float:right;
    li {
      margin: 0 .8em;
      float: left;
    }
  }

}


form.register, form.login {
  margin: 0 auto;
  width:25em;
  fieldset {
    border-radius: 10px;
  }
  section {
    margin:.7em 0;
    height: 2.3em;
    //overflow: hidden;
    &.remember-me {
      p {
        float: left;
        margin-left:10%;
        height:1.2em;
        width:30%;
      }
      input {
        //display: inline-block;
        //margin:.3em 16em 0 0;
        width:1em;

        float: right;
      }
      label {
        float: right;
        margin-right: 4em;
        width: 12em;
      }
    }
    label {
      float: left;
      margin-left:10%;
      height:1.2em;
      width:30%;
    }
    input {
      float: right;
      width: 12em;
      margin-right: 4em;
    }

    button {
      width:6em;
      display:block;
      height:2em;
      border-radius: 3em;
      background-color: #FFFFFF;
    }
  }
}
header + div {
  margin-top: 7em;
  clear:both;
}

form.register {

  button {
    margin: 0 auto;
  }
}

form.login {
  p.hint {
    clear:both;
    text-align: right;
    margin-right: 10%;
  }

  button {
    float:left;

  }

}

@media only screen and (max-width:640px) {
  header {

  }
  footer {
    div{
      text-align: center;
      margin: 0 auto;
      float: none;
      padding: .5em 0 .3em 0;
    }
    nav {
      padding: .2em 0 .5em 0;
      margin: 0 auto;
      float: none;
      overflow: hidden;
      width: 18em;
    }
    
  }
}


@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation : landscape) {
  header {

  }
  footer {

  }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (orientation : portrait) {
  header {

  }
  footer {

  }
}