//@import '../node_modules/bootstrap/less/bootstrap';

* {
  margin:0; padding:0;
}

body {
  background:#efefef;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

div#app {
  width:98%;
}

header {
  height: 70px;
  margin: 10px;
  border-width: 1px;
  box-shadow: 0 12px 8px -9px;
  background: #FFFFFF;
  border-radius: 20px;
  h1 {
    width: 100px;
    float: left;
    margin: 14px;
    border: 1px solid;
  }
  nav.menu {
    margin:12px 0;
    border: 1px solid;
    float: left;
    ul {
      display: inline-block;
    }
    li {
      position:relative;
      float: left;
      margin: 10px 10px;

      &:nth-child(1) > a {
        display: block;
        background: #337ab7;
      }
      &:nth-child(2) > a {
        display: block;
        background: #fff000;
      }
      &:nth-child(3) > a {
        display: block;
        background: #000fff;
      }
    }

  }
  section.login {
    float: right;
    margin: 10px 10px;
    li {
      position:relative;
      float: left;
      margin: 10px 10px;

      &:nth-child(1) > a {
        display: block;
        background: #337ab7;
      }
      &:nth-child(2) > a {
        display: block;
        background: #fff000;
      }
    }
  }
}


form.register, form.login {
  margin: 0 auto 10%;
  width:50%;
  fieldset {
    border-radius: 10px;
  }


  section {
    margin:10px 0;
    height: 30px;
    label {
      float: left;
      margin-left:10%;
      height:19px;
      width:30%;
    }
    input {
      float:right;
      width:40%;
      margin-right: 10%;
    }
    button {
      width:100px;
      display:block;
      height:30px;
      margin: auto;
      border-radius: 5px;
      background-color: #FFFFFF;
    }
  }
}

form.login {
  p.hint {
    float:right;
    margin-right: 10%;
  }
  input.remember-me {
    
  }
}


footer {
  height: 70px;
  margin: 10px;
  border-width: 1px;
  box-shadow: 0 12px 8px -9px;
  background: #FFFFFF;
  border-radius: 20px;
  div {
    margin: 20px;
    height: 50px;
    float: left;
    width:50%;
  }
  nav{
    margin:10px;
    float:right;
    li {
      margin: 10px;
      float: left;
    }
  }

}